/* pages/doctorIndex/doctorIndex.wxss */
.user-top {
  background: #2db275;
  background: -moz-linear-gradient(45deg, #2db275 0%, #32cb8f 94%);
  background: -webkit-linear-gradient(45deg, #2db275 0%, #32cb8f 94%);
  background: linear-gradient(45deg, #2db275 0%, #32cb8f 94%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2db275', endColorstr='#32cb8f', GradientType=1);
}


.online-chat {
  border-top: 10rpx solid #f9f9f9;
  padding: 20rpx;
}

.title-box {
  display: flex;
  align-items: center;
  padding: 20rpx 0;
  .name {
    font-weight: bold;
    color: #242935;
    font-size: 40rpx;
  }

  .btn {
    display: flex;
    align-items: center;
    height: 50rpx;
    border-radius: 25rpx;
    padding: 0 30rpx;
    font-size: 24rpx;
    color: #937051;
    background: #f0e4cf;
    background: -moz-linear-gradient(left, #f0e4cf 0%, #fdf6e6 96%);
    background: -webkit-linear-gradient(left, #f0e4cf 0%, #fdf6e6 96%);
    background: linear-gradient(to right, #f0e4cf 0%, #fdf6e6 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0e4cf', endColorstr='#fdf6e6', GradientType=1);

    icon {
      margin-right: 10rpx;
    }
  }

  .red {
    color: #ee6767;
    font-size: 32rpx;
    margin: 0 4rpx;
    font-weight: bold;
  }
}


.chat-list {
    margin-top: 10rpx;
    .item {
      display: flex;
      align-items: center;
      background-color: #f3fafa;
      padding: 30rpx 20rpx;
      border-radius: 10rpx;
      margin-bottom: 20rpx;
    }
    
    .risk-level {
        margin-left: 20rpx;
      font-size: 24rpx;
      height: 40rpx;
      line-height: 40rpx;
      border: 1px solid rgb(226, 2, 2);
      padding: 0 20rpx;
      border-radius: 30rpx;
      color: rgb(226, 2, 2);
      background-color: rgba(254, 250, 131, 0.52);
  
      &.blue {
          border-color: #1fbefe;
          background-color: rgba(147, 210, 243, 0.33);
          color: #101010;
      }
  }
  .remark {
      color: rgba(226,2,2,1);
      font-size: 24rpx;
    }
    .img-box {
      width: 105rpx;
      margin-right: 20rpx;
      position: relative;
      z-index: 1;
    }
  
    .point {
        position: absolute;
        top: 0;
        right: 10rpx;
        z-index: 1;
        background-color: #ee6767;
        width: 18rpx;
        height: 18rpx;
        border: 3rpx solid #fff;
        border-radius: 100%;
        display: block;
    }
  
    .img {
      width: 105rpx;
      height: 105rpx;
      border-radius: 100%;
      display: block;
      border: 1rpx solid #fff;
    }
  
    .no-read {
      position: absolute;
      top: -8rpx;
      left: 0;
      border-radius: 40rpx;
      width: 100%;
      background-color: rgba($color: #ee6767, $alpha: 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 24rpx;
      padding: 4rpx 0;
    }
    .text-box {
      flex: 1;
    }
  
    .row-1 {
      display: flex;
      align-items: center;
    }
    .name {
      color: #2a2a2a;
      font-size: 32rpx;
      font-weight: bold;
      margin-right: 20rpx;
    }
  
    .age {
      margin-right: 20rpx;
      background-color: #81cdc8;
      height: 40rpx;
      line-height: 40rpx;
      border-radius: 40rpx;
      font-size: 24rpx;
      color: #ffffff;
      padding: 0 16rpx;
    }
  
    .time {
      color: #7f7f7f;
      font-size: 24rpx;
    }
  
    .dec {
      margin-top: 6rpx;
      color: #565656;
      font-size: 28rpx;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .search-box {
      display: flex;
      align-items: center;
      height: 120rpx;
      border: 1rpx solid #bbbbbb;
      padding-right: 20rpx;
      .item {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 20rpx;
          font-size: 30rpx;
          padding: 20rpx;
      }
      .arrow-down {
          transform: rotate(90deg);
      }

      .btn {
          background-color: #45B778;
          width: 180rpx;
          height: 64rpx;
          color: #ffffff;
          text-align: center;
          line-height: 64rpx;
          font-size: 30rpx;
      }
  }

  .dialog-checkbox {
      text-align: left;
      height: 48vh;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      margin: 30rpx 0;
      .item {
          width: 50%;
          display: flex;
          color: #333333;
          align-items: center;
          padding-bottom: 20rpx;
          &.active {
            color: #01c176;
            .ck {
                border-color: #01c176;
            }
           icon {
              opacity: 1;
           }
        }
      }

      .text {
          flex: 1;
          margin-left: 20rpx;
          font-size: 28rpx;
      }
      
      .ck {
          border: 1px solid #bbbbbb;
          width: 44rpx;
          height: 44rpx;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s;
          icon {
              opacity: 0;
              transition: all .3s;
          }
      }
  }